img{
    height: 250px;
    width: 304;
}

a{
    text-decoration: none;
    color: rgb(90,165,251);
}

.card{
    background-color:rgba(0,17,23,0.65);
border-radius: 9px; 
}

.card-text{
    color: white;
}

.card-footer{
    color: lime;
}

.col-md-4{
    margin-top: 2px;
    margin-bottom: 3px;
}

#bio{
    background-color: black;
    color: whitesmoke;
    padding: 1px;
    border-radius: 7px;
}

h1{
    text-align: center;
}